<p id="notice"><%= notice %></p>
<h1>Profile</h1>
<p>
  <%= image_tag @profile.avatar.url(:medium),class:'img-rounded'%>
</p>
<p>
  <strong><%= @profile.username %></strong>
</p>
<p>
  <strong>
  <%= @profile.bio %>
</strong>
</p>
<%= link_to 'Edit', edit_profile_path(@profile),class:'btn btn-primary',style:'color:white' %> 

