  <div class="container-fluid text-center" style="background: url('/images/background1.jpg'); background-size:initial;">
    <h1 style="font-size: 65px;"> <b> Shahi Ghar </b></h1>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav class="navbar navbar-inverse" role="navigation" style="background: transparent; border-color: transparent;" >
      <div class="container" style="width:100%">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="row">
          <div class="col-lg-12 text-center ">
             <ul class="nav nav-justified color">
                <li>
                    <%= link_to "Home",hotels_home_path %>
                </li>
                <li>
                    <% if current_user.present? %>
                    <% if current_user.profile.present? %>
                    <%= link_to "Profile",profile_path(current_user.id)%>
                    <% else %>
                    <%= link_to "Profile",new_profile_path%>
                    <% end %>
                    <% end %>
                </li>
                <li>
                    <%= link_to "Rooms",rooms_path %>
                </li>
                <li>
                    <% if current_user.present? %>
                    <%= link_to "Booking","/bookings/#{current_user.id}/index"%>
                    <% end %>
                </li>
                <% if current_user.present? %>
                <% if current_user.is_admin? %>
                <li>
                    <%= link_to "User",users_index_path %>
                </li>
                <% end %>
                <% end %>
                <li>
                    <% if current_user.present? %>
                    <%= link_to "Sign Out",destroy_user_session_path, method: 'delete' %>
                    <% else %>
                    <%= link_to "Sign In",new_user_session_path %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
</div>





